/* Reset */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: #ffffffd7;
  font-family: "Helvetica Neue";
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.gl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 1;
}
.mobile {
  display: none;
}
.modern {
  padding-bottom: 0px;
}

.desktop {
  display: inline;
}
a {
  color: inherit;
  text-decoration: none;
  z-index: 10;
}
a:hover {
  opacity: 0.8;
}

/* Header */
.top-row {
  margin-top: 2vh;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.top-row img {
  height: 4vh;
}
.book1 {
  padding-right: 20px;
  font-weight: light;
}

/* === FOOTER LOGO BOTTOM LEFT === */
.footer {

  pointer-events: auto;
}
.footer img {
    position: absolute;
  bottom: 1rem;
  left: 1rem;
  height: 6vh;
  filter: invert(1);
}

/* === TOGGLE BUTTON BOTTOM RIGHT === */
.toggle-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  font-weight: lighter;
  color: #fff;
  cursor: pointer;
  z-index: 20;
  pointer-events: auto;
  transition: transform 0.3s ease;
}
.toggle-btn:hover {
  transform: scale(1.1);
}

/* === INFO PANEL === */
.info-panel {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  max-width: 600px;
  font-size: 0.9rem;
  pointer-events: auto;
  z-index: 19;
}

.definition {
  margin-bottom: 1rem;
}

.modern p {
  margin-bottom: 0rem;
}

.circuit-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.circuit ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.circuit li {
  margin-bottom: 4px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {

  .mobile {
    display: inline;
  }
.desktop {
  display: none;
}
  .modern p{
    margin-bottom: 0px;
  }
  .top-row img {
    height: 5.5vh;
    padding-left: 0.5rem;
  }

  .lead ,  .circuit-title  {

    padding-bottom: 2vh;

  }

  .definition {
    margin-bottom: 1.5rem;
  }


  .info-panel {
    padding: 1vh;
    line-height: 1.6rem;
    max-width: 95vw;
    font-size: 1.3rem;
    right: 0.5rem;
    left: 0.5rem;
    bottom: 4.2rem;
  }

  .footer img {
    height: 6.5vh;
  }

  .toggle-btn {
    font-size: 3.8rem;
    bottom: 0.5rem;
    right: 1rem;
  }

  .book1 {
    margin-bottom:1vh;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .circuit {
    line-height: 1.5rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .info-panel {
    max-height: 60vh;
    overflow-y: auto;
  }
}
